<div
  class="relative w-full md:w-[850px] p-2 bg-white rounded-full shadow-sm z-20"
>
  <div class="flex items-center gap-2">
    <div class="relative flex-1">
      <input
        id="location"
        type="text"
        placeholder="📍 What are you looking for?"
        class="w-full rounded-full border border-gray-300 bg-[#1F3B6C] px-4 py-3 text-white placeholder:text-gray-500 font-semibold shadow-sm focus:outline-none focus:border-[#1F3B6C] focus:ring-2 focus:ring-[#1F3B6C]/40 transition-all duration-200"
        [(ngModel)]="searchLocation"
        (input)="filterLocations()"
        (blur)="hideDropdown()"
      />

      @if (filteredLocations.length > 0 && showDropdown) {
        <ul
          class="absolute left-0 right-0 mt-2 bg-white border border-gray-200 rounded-2xl shadow-lg max-h-56 overflow-y-auto z-50"
        >
          @for (loc of filteredLocations; track loc) {
            <li
              class="text-[#1F3B6C] font-semibold px-4 py-2 hover:bg-[#1F3B6C]/10 cursor-pointer"
              (mousedown)="selectLocation(loc)"
            >
              {{ loc.state }}, {{ loc.city }}
            </li>
          }
        </ul>
      }
    </div>
    <!-- <img src="assets/icons/search.svg" alt="Search" class="w-5 h-5" /> -->

    <button
      class="px-6 py-3 bg-[#1F3B6C] text-white font-semibold rounded-full cursor-pointer disabled:opacity-50 disabled:cursor-not-allowed transition-colors duration-200"
      [disabled]="!searchLocation"
    >
      Search
    </button>
  </div>
</div>
