<div class="mt-16 py-6 px-6">
  <div class="text-center">
    <h2
      class="relative text-4xl mb-2 font-extrabold text-[#1f3b6c] after:content-[''] after:block after:w-20 after:h-[3px] after:bg-[#6b63ff] after:mx-auto after:mt-2 after:rounded-full"
    >
      Who We Serve
    </h2>
  </div>

  <div class="grid grid-cols-1 lg:grid-cols-3 gap-y-4 gap-x-4">
    <div
      class="icon flex gap-3 justify-center items-start hover:shadow-[0_4px_10px_rgba(255,107,53,0.25)] transition-all duration-300 cursor-pointer rounded-lg p-3"
    >
      <div class="border border-gray-600 rounded-full p-4">
        <img
          src="assets/icons/theater-mask.svg"
          alt=""
          width="50"
          height="50"
        />
      </div>
      <div class="flex flex-col justify-start">
        <h5 class="text-[1.3rem] text-black font-bold">THEATRE PRODUCTIONS</h5>
        <p class="text-gray-600 text-[1rem]">
          Experience captivating stage performances from talented actors and
          creative storytellers.
        </p>
      </div>
    </div>

    <div
      class="icon flex gap-3 justify-center items-start hover:shadow-[0_4px_10px_rgba(255,107,53,0.25)] transition-all duration-300 cursor-pointer rounded-lg p-3"
    >
      <div class="border border-gray-600 rounded-full p-4">
        <img src="assets/icons/microphone.svg" alt="" width="50" height="50" />
      </div>
      <div class="flex flex-col justify-start">
        <h5 class="text-[1.3rem] text-black font-bold">MUSIC CONCERTS</h5>
        <p class="text-gray-600 text-[1rem]">
          Experience live music events featuring your favorite artists and
          bands.
        </p>
      </div>
    </div>

    <div
      class="icon flex gap-3 justify-center items-start hover:shadow-[0_4px_10px_rgba(255,107,53,0.25)] transition-all duration-300 cursor-pointer rounded-lg p-3"
    >
      <div class="border border-gray-600 rounded-full p-4">
        <img src="assets/icons/festivals.svg" alt="" width="50" height="50" />
      </div>
      <div class="flex flex-col justify-start">
        <h5 class="text-[1.3rem] text-black font-bold">FESTIVALS</h5>
        <p class="text-gray-600 text-[1rem]">
          Celebrate culture, creativity, and unity at colorful festivals filled
          with energy and expression.
        </p>
      </div>
    </div>

    <div
      class="icon flex gap-3 justify-center items-start hover:shadow-[0_4px_10px_rgba(255,107,53,0.25)] transition-all duration-300 cursor-pointer rounded-lg p-3"
    >
      <div class="border border-gray-600 rounded-full p-4">
        <img src="assets/icons/tech.svg" alt="" width="50" height="50" />
      </div>
      <div class="flex flex-col justify-start">
        <h5 class="text-[1.3rem] text-black font-bold">TECH CONFERENCES</h5>
        <p class="text-gray-600 text-[1rem]">
          Stay inspired and informed with conferences highlighting innovation
          and technology breakthroughs.
        </p>
      </div>
    </div>

    <div
      class="icon flex gap-3 justify-center items-start hover:shadow-[0_4px_10px_rgba(255,107,53,0.25)] transition-all duration-300 cursor-pointer rounded-lg p-3"
    >
      <div class="border border-gray-600 rounded-full p-4">
        <img src="assets/icons/exhibition.svg" alt="" width="50" height="50" />
      </div>
      <div class="flex flex-col justify-start">
        <h5 class="text-[1.3rem] text-black font-bold">ART EXHIBITIONS</h5>
        <p class="text-gray-600 text-[1rem]">
          Explore breathtaking artworks and meet talented artists at inspiring
          art showcases.
        </p>
      </div>
    </div>

    <div
      class="icon flex gap-3 justify-center items-start hover:shadow-[0_4px_10px_rgba(255,107,53,0.25)] transition-all duration-300 cursor-pointer rounded-lg p-3"
    >
      <div class="border border-gray-600 rounded-full p-4">
        <img
          src="assets/icons/religious-icon.svg"
          alt=""
          width="50"
          height="50"
        />
      </div>
      <div class="flex flex-col justify-start">
        <h5 class="text-[1.3rem] text-black font-bold">SPIRITUAL EVENTS</h5>
        <p class="text-gray-600 text-[1rem]">
          Join uplifting gatherings and retreats that nurture faith, reflection,
          and spiritual growth.
        </p>
      </div>
    </div>

    <div
      class="icon flex gap-3 justify-center items-start hover:shadow-[0_4px_10px_rgba(255,107,53,0.25)] transition-all duration-300 cursor-pointer rounded-lg p-3"
    >
      <div class="border border-gray-600 rounded-full p-4">
        <img src="assets/icons/workshop.svg" alt="" width="50" height="50" />
      </div>
      <div class="flex flex-col justify-start">
        <h5 class="text-[1.3rem] text-black font-bold">WORKSHOPS & TRAINING</h5>
        <p class="text-gray-600 text-[1rem]">
          Grow your skills and knowledge through hands-on workshops and
          professional sessions.
        </p>
      </div>
    </div>

    <div
      class="icon flex gap-3 justify-center items-start hover:shadow-[0_4px_10px_rgba(255,107,53,0.25)] transition-all duration-300 cursor-pointer rounded-lg p-3"
    >
      <div class="border border-gray-600 rounded-full p-4">
        <img src="assets/icons/non-profit.svg" alt="" width="50" height="50" />
      </div>
      <div class="flex flex-col justify-start">
        <h5 class="text-[1.3rem] text-black font-bold">NON-PROFIT EVENTS</h5>
        <p class="text-gray-600 text-[1rem]">
          Support meaningful causes and social impact through community-driven
          events and initiatives.
        </p>
      </div>
    </div>

    <div
      class="icon flex gap-3 justify-center items-start hover:shadow-[0_4px_10px_rgba(255,107,53,0.25)] transition-all duration-300 cursor-pointer rounded-lg p-3"
    >
      <div class="border border-gray-600 rounded-full p-4">
        <img src="assets/icons/food.svg" alt="" width="50" height="50" />
      </div>
      <div class="flex flex-col justify-start">
        <h5 class="text-[1.3rem] text-black font-bold">
          FOOD & CULINARY EVENTS
        </h5>
        <p class="text-gray-600 text-[1rem]">
          Savor mouthwatering dishes and discover the art of cooking at vibrant
          culinary gatherings.
        </p>
      </div>
    </div>
  </div>
</div>
